<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>FHSP - Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-[#232f3b]">
    <header class="flex bg-[#2e3a46] text-white mx-auto w-4/5 py-2.5 px-24">
      <div class="grow">
        <h1>FHSP</h1>
      </div>
      <div class="flex">
        <div>
          <a href="/home">Home</a>
        </div>
        <div class="mx-6">
          <a href="settings">Settings</a>
        </div>
        <div>
          <form method="post" action="/logout">
            <input class="cursor-pointer" type="submit" value="Logout" />
          </form>
        </div>
      </div>
    </header>
    <div class="px-12 min-h-screen w-4/5 bg-white mx-auto border pb-6">
      <div class="border">
        <div>stats</div>
        <div class="flex items-center border mx-2">
          <div class="">Number of files: {{ files.length }}</div>
          <div>Storage used: {{ storage }} MB / 100 MB</div>
        </div>
      </div>
      <div class="my-2 border">
        {% if messages.info %}
        <p>{{ messages.info }}</p>
        {% else %}
        <p class="invisible">...</p>
        {% endif %}
      </div>
      <form
        method="post"
        action="upload"
        class="my-3 py-3 bg-white border rounded"
        enctype="multipart/form-data"
      >
        <input type="file" name="file" />
        <input
          type="submit"
          value="Upload"
          class="bg-cyan-800 text-white px-3 py-1 rounded hover:cursor-pointer"
        />
      </form>
      <div class="border rounded-xl min-h-12 grid grid-cols-4 bg-slate-100 p-2 py-1">
        {% for file in files %}
        <div class="my-2 mx-2 rounded-xl border flex flex-col bg-white">
          <div class="overflow-hidden truncate">{{ file.name }}</div>
          <small> {{ file.size }} bytes </small>
          <small> {{ file.created_at }} </small>
          <div class="flex my-1">
            <div class="mx-auto">
              <form method="post" action="download">
                <button
                  name="file"
                  value="{{ file.name }}"
                  type="submit"
                  class="bg-slate-200 hover:bg-slate-300 text-center rounded"
                >
                Download
                </button>
              </form>
            </div>
            <div class="mx-auto">
              <form method="post" action="remove">
                <button
                  name="file"
                  value="{{ file.name }}"
                  type="submit"
                  class="bg-slate-200 w-10 hover:bg-slate-300 rounded"
                >
                Delete
                </button>
              </form>
            </div>
            <div class="mx-auto">
              <form method="post" action="copy">
                <button
                  name="file"
                  value="{{ file.name }}"
                  type="submit"
                  class="bg-slate-200 w-10 hover:bg-slate-300 rounded"
                >
                Copy
                </button>
              </form>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
