<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FHSP - Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-secondary">
      <div class="container-fluid px-4">
        <span class="navbar-brand text-white">FHSP</span>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item mx-2">
              <a class="nav-link link-light" href="/home">Home</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link link-light" href="/settings">Settings</a>
            </li>
          </ul>
          <form method="post" action="/logout">
            <input class="btn btn-outline-light py-1" type="submit" value="Logout">
          </form>
        </div>
      </div>
    </nav>
    <div class="min-vh-100 bg-white px-4">
      {% if messages.info %}
        <div class="my-1 bg-blue-100">
          <p>{{ messages.info }}</p>
        </div>
      {% endif %}
      <div class="d-flex my-2 p-1 rounded border bg-light">
        <div class="bg-white flex-grow-1 border me-1 rounded px-3">
          <form method="post" action="/home/upload" enctype="multipart/form-data" class="py-2">
            <input type="file" name="file" onchange="form.submit()">
          </form>
        </div>
        <div class="bg-white flex-1 border ms-1 rounded d-flex align-items-center px-4">
          <span class="mx-auto">Usage: {{ storage }} MB</span>
        </div>
      </div>
      <div class="border p-1 rounded mb-3 bg-light">
        <table class="bg-white border table table-sm mb-0">
          <thead class="">
            <tr class="border">
              <th class="col-3 text-truncate ps-3">Name</th>
              <th class="col-4">Date created</th>
              <th class="col-1">File size</th>
              <th class="col-4"></th>
            </tr>
          </thead>
          <tbody>
            {% for file in files %}
            <tr class="border">
              <td class="text-truncate ps-3">{{ file.name }}</td>
              <td class="text-secondary">{{ file.created_at }}</td>
              <td>{{ file.size }} B</td>
              <td class="text-center">
                <form method="post" action="/home/download" class="d-inline mx-1">
                  <button
                    name="file"
                    value="{{ file.name }}"
                    type="submit"
                    class="btn btn-light border py-1 w-25"
                  >
                    <small>Download</small>
                  </button>
                </form>
                <form method="post" action="/home/copy" class="d-inline mx-1">
                  <button
                    name="file"
                    value="{{ file.name }}"
                    type="submit"
                    class="btn btn-light border py-1 w-25"
                  >
                    <small>Copy</small>
                  </button>
                </form>
                <form method="post" action="/remove" class="d-inline mx-1">
                  <button
                    name="file"
                    value="{{ file.name }}"
                    type="submit"
                    class="btn btn-light border py-1 w-25"
                  >
                    <small>Remove</small>
                  </button>
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
