<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>FHSP - Home</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-[#232f3b]">
  <header class="flex bg-white mx-auto w-4/5 py-5 px-24 border">
    <div class="grow">
      <h1>FHSP</h1>
    </div>
    <div class="flex">
    <div>
      <a href="/home">Home</a>
    </div>
    <div class="mx-4">
      <a href="/account">Account</a>
    </div>
    <div>
      <form method="post" action="/logout">
        <input class="text-sky-500 hover:cursor-pointer" type="submit" value="Logout">
      </form>
    </div>
  </div>
  </header>
  <div class="px-12 min-h-screen w-4/5 bg-white mx-auto border pb-6">
    <div class="my-2 border">
      {% if messages.info %}
        <p>{{ messages.info }}</p>
      {% else %}
        <p class="invisible">...</p>
      {% endif %}
    </div>
    <form
      method="post"
      action="upload"
      class="my-3 py-3 bg-white border rounded"
      encType="multipart/form-data"
    >
      <input type="file" name="file">
      <input
        type="submit"
        value="Upload"
        class="bg-cyan-800 text-white px-3 py-1 rounded hover:cursor-pointer"
      >
    </form>
    <div class="border min-h-12 grid grid-cols-4">
      {% for file in files %}
      <div class="my-2 mx-2 rounded-xl border-2 flex flex-col">
        <div class="overflow-hidden truncate">
          {{ file.name }}
        </div>
        <div class="border w-full h-20 text-center bg-slate-100">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-12 h-12 mt-3 mx-auto align-middle text-slate-200"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M19.5 14.25v-2.625a3.375 3.375 0 00-3.375-3.375h-1.5A1.125 1.125 0 0113.5 7.125v-1.5a3.375 3.375 0 00-3.375-3.375H8.25m2.25 0H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 00-9-9z"
            >
          </svg>
        </div>
        <small>
          File size: {{ file.size }}
        </small>
        <small>
          {{ file.created_at }}
        </small>
        <div class="flex my-1">
          <div class="mx-auto">
            <form method="post" action="download">
              <button name="file" value="{{ file.name }}" type="submit" class="bg-blue-100 w-24 hover:bg-blue-200 text-center rounded py-2">
                Download
              </button>
            </form>
          </div>
          <div class="mx-auto">
            <form method="post" action="remove">
              <button name="file" value="{{ file.name }}" type="submit" class="bg-red-100 w-24 hover:bg-red-200  py-2 rounded">
                Remove
              </button>
            </form>
          </div>
        </div>
        <div class="flex my-1">
          <div class="mx-auto">
            <form method="get" action="#">
              <button name="file" value="{{ file.name }}" type="submit" class="bg-slate-200 w-24 text-center rounded py-2">
                Copy
              </button>
            </form>
          </div>
          <div class="mx-auto">
            <form method="get" action="#">
              <button name="file" value="{{ file.name }}" type="submit" class="bg-slate-200 w-24 text-center py-2 rounded">
                Rename
              </button>
            </form>
          </div>
        </div>
        </div>
      {% endfor %}
    </div>
  </div>
</body>
</html>
