<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>FHSP - Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <header class="flex bg-white mx-auto w-4/5 py-5 px-24 border">
      <div class="grow">
        <h1>FHSP</h1>
      </div>
      <div>
        <form method="post" action="/logout">
          <input class="text-sky-500" type="submit" value="Logout" />
        </form>
      </div>
    </header>
    <div class="px-12 h-screen w-4/5 bg-white mx-auto border">
      <form
        method="post"
        action="upload"
        class="my-3 py-3 bg-white border rounded"
        encType="multipart/form-data"
      >
        <input type="file" name="file" />
        <input
          type="submit"
          value="Upload"
          class="bg-cyan-800 text-white px-3 py-1 rounded"
        />
      </form>
      <div class="border min-h-12 grid grid-cols-4">
        <% for (let i = 0; i < files.length; i++) { %>
        <div class="border py-4 my-2 mx-2 rounded">
          <div class="ms-4 overflow-hidden"><%= files[i] %></div>
          <div class="mx-2">
            <button class="bg-blue-100 hover:bg-blue-200 px-4 py-2 rounded">
              Download
            </button>
          </div>
          <div class="mx-2">
            <button class="bg-slate-100 hover:bg-slate-200 px-4 py-2 rounded">
              Remove
            </button>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </body>
</html>
