<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <a href="/">index</a>
  <a href="/register">register</a>
  <a href="/login">login</a>
  <h1 class="text-3xl font-bold underline">
    fhsp
  </h1>
</body>
</html>
