<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>FHSP - Register</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-[#232f3b]">
  <div class="bg-white w-2/5 mx-auto p-8 rounded-sm my-4">
    <div class="text-center">
      <h1 class="text-4xl mb-2">FHSP</h1>
      <a class="text-sky-300" href="/login">login</a>
      <a class="text-sky-500" href="/register">register</a>
    </div>
    <form class="w-96 mx-auto text-center" method="post">
      {% if messages.info %}
        {{ messages.info }}
      {% endif %}
      <div>
        <input class="border-2 my-2 py-5 px-4 pl-3" name="username" placeholder="Username" type="text">
      </div>
      <div>
        <input class="border-2 my-2 py-5 px-4 pl-3" name="password" placeholder="Password" type="password">
      </div>
      <input class="bg-blue-200 px-2 py-1 w-max rounded hover:cursor-pointer" type="submit" value="Submit">
    </form>
  </div>
</body>
</html>
